[Desktop Entry]
Type=Application
Name=ASense
GenericName=Acer Laptop Control
Comment=Cooling, performance and lighting controls for Acer laptops
Exec=/usr/bin/asense
Icon=asense
Terminal=false
Categories=Settings;HardwareSettings;
Keywords=Acer;Predator;Nitro;fan;cooling;performance;lighting;Turbo;
StartupNotify=true
